@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AskMe</h1>
    <p>Place where you can ask questions and get answers from the community.</p>
    <br /><br />
    <h2>Let's get started</h2>
    <br /><br />
    <div class="container col-8 text-center">
        <div class="row text-center">
            <div class="col-6">
                <a href="/Question" type="button" class="btn btn-lg rounded-1 btn-outline-light">
                    <i class="bi bi-search"></i> &nbsp; Search for question
                </a>
            </div>
            <div class="col-6">
                <a href="/Question/Ask" type="button" class="btn btn-lg rounded-1 btn-outline-primary">
                    <i class="bi bi-question-circle"></i> &nbsp; Ask question
                </a>
            </div>
        </div>
    </div>
</div>

