html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
    margin-top: auto;
    margin-bottom: 60px;
}

.content {
    margin: auto;
}

.search {
    padding-left: 15px !important;
}

button.btn-search {
    box-shadow: none !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-width: 1px !important;
}

.btn-search:hover {
    box-shadow: none !important;
}

.question {
    border-bottom: 2px solid;
}

.search-box {
    border: 1px solid !important;
}