<h2>
    Ask anything you want here!
</h2>

<form method="post">
    <div class="form-group">
        <label for="title" class="form-label mt-4">Title</label>
        <input name="title" id="title" class="form-control" placeholder="your question in few words...">
    </div>

    <div class="form-group">
        <label for="content" class="form-label mt-4">Description</label>
        <textarea name="content" id="content" class="form-control" rows="4" spellcheck="false" placeholder="please elaborate your question in more details here..."></textarea>
    </div>

    <br /><br />

    <div class="form-group col-auto">
        <button type="submit" class="btn btn-outline-primary float-end">
            ASK &nbsp; <i class="bi bi-send"></i>
        </button>
    </div>
</form>